<footer class="site-footer">
  {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
  {% endif %}
  <span class="site-footer-credits">
  <h2 id="home--about-me--contact"><a href="https://nileshsalpe.github.io">Home</a> | <a href="https://nileshsalpe.github.io/about.html">About Me</a> | <a href="https://nileshsalpe.github.io/contact.html">Contact</a></h2>
  </span>
</footer>
